.image-container {
  position: relative;
}

.image-face {
  transform-origin: top left;
}

.image-preview {
  display: none;
}

.image-target {
  background: #000;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.main-image {
  /*
  left: 0;
  position: absolute;
  top: 0;
  */
  z-index: 100;
}


#whichBefore:checked ~ #image-container-2 {
  display: none;
}

#whichAfter:checked ~ #image-container-1 {
  display: none;
}